<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display Greetings</title>
</head>
<body>

<form action="#" th:object="${newMessage}" method="POST" th:action="@{'/home'}">
    <label for="newMessageText">Submit a new message: </label>
    <input type="text" id="newMessageText" name="newMessageText" th:field="*{text}">
    <label for="newMessageText">Animal</label>
    <input type="text" id="newAnimal" name="newAnimalText" th:field="*{animalName}">
    <input type="text" id="adjective" name="adjectiveText" th:field="*{adjective}">
    <input type="submit">
</form>


<h1 th:if ="${#lists.size(greetings)<=5}"
    th:each="msg :${greetings}"
    th:text="${msg}"
    th:unless="${msg.contains('good bye')}">
</h1>
<h1 th:if ="${#lists.size(greetings)> 5}">I think that’s enough!’</h1>


</body>
</html>